@{
    ViewBag.Title = "About";
}
<h2>About My Foodie Life</h2>

<p>I've always been a foodie advocate.  Eating out is my passion in life.  Here is my database of every place I've eaten out at.  
    Feel free to follow along and subscribe if you are a foodie like me.</p>
