@{
    ViewBag.Title = "About";
}
<h2>About Us</h2>

<h4>
    Who We Are
</h4>

<p>
    We've always been foodies.  <br />
    Eating is not just to live, its a passion. <br />
    This is where you can record your foodie experience. 
</p>

<h4>
    Usage
</h4>

<p>
    Add a restaurant if its your first time recording a visit for that restaurant. <br />
    Add a visit and connect it to a restaurant. <br />
    Don't ever make the mistake of re ordering a bad order or forgetting a favorite order again.
</p>