@{
    ViewBag.Title = "Contact";
}
<h2>Contact Me!</h2>
<p>Give me recommendations, join my team, or come to my next meet-up event! I also except inquires entirely about food. </p>

<address>
    365 Restaurant Way<br />
    Candy Land, NP 12345-6789<br />
    <abbr title="Phone">P:</abbr>
    555.365.FOOD
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">inquire@myfoodie.com</a><br />
</address>